body {
    background-color: #000 !important;
    margin: 0;
  }
  
  body * {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    height: 100%;
  }
  
  .App {
    display: flex;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .app__main {
    position: relative;
    flex: 1 1 0;
  }
  
  video {
    object-fit: cover;
  }
  
  .cam__container {
    width: 100vw;
    height: 100%;
    position: relative;
  
    .cam__media {
      position: absolute;
      left: 0;
      right: 0;
      width: auto;
      top: 0;
      bottom: 0;
      height: auto;
      background-color: #c5c6c7;
  
      video {
        // transform: scaleX(-1);
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  
  .face__overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100%;
    // for mirror effect
    // transform: scaleX(-1);
  }
  
  .selector__container {
    padding-top: 5px;
    height: 64px;
  }
  
  .selector__swiper {
    color: #fff;
    .swiper-slide {
      font-size: 20px;
      width: fit-content;
      font-weight: medium;
      color: rgb(117, 117, 117);
      transition: color 0.15s ease-in-out;
    }
    .swiper-slide-active {
      color: rgb(231, 231, 231);
    }
  }
  .selector__indicator {
    margin: 5px auto;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
  }
  
  .am-toast.am-toast-nomask {
    top: 10vh !important;
  
    .am-toast-text {
      font-size: 16px;
      white-space: pre-line;
    }
  }
  
  .capture-btn {
    $size: 80px;
    position: absolute;
    // calc hack
    left: calc((100% - #{$size}) / 2);
    bottom: 20px;
    width: $size;
    height: $size;
    border-radius: $size / 2;
    background-color: #fff;
    border: 10px solid #dcdcdc;
    opacity: 1;
    visibility: visible;
    transition: all 0.15s ease-in-out;
  
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .crop-btn {
    $size: 60px;
    $margin: 30px;
    position: absolute;
    bottom: $margin;
    width: $size;
    height: $size;
    border-radius: $size / 2;
    border: none;
  
    &.done {
      right: $margin;
    }
  
    &.back {
      left: $margin;
    }
  }
  
  .cam-cropper {
    .cropper-container {
      height: 100% !important;
    }
  }
  
  .cropped-img__container {
    height: 100%;
    display: flex;
    overflow-y: auto;
    img {
      margin: auto;
    }
  }
  